.Article {
  background-color: #fff;
  border: 1px #ccc;
  display: flex;
  padding: 0 25px;
  cursor: pointer;
  align-items: center;
  flex-wrap: wrap;
}

.Article > p {
  display: inline-block;
}

.Article > .author {
  color: #999;
}

.Article > .title, Article > .date {
  color: #333;
  font-size: 13pt;
}

.Article > .title {
  padding-left: 25px;
}

.Article > .date {
  margin-left: auto;
  padding-right: 100px;
}

.Article:hover {
  background-color: #fafafa;
}
